#panel-grid {
    text-align: center;
    display: grid;
    grid-template-rows: 40% 30% 30%;
    height: 95vh;
}

.left-link-btn {
    margin: 20px 0px;
}

.panel-link-tag {
    font-size: 10px;
    font-weight: 700;
}