#main-part{
    min-height: 95vh;
    width: 100%;
    display: grid;
    grid-template-columns: 8% 92%;
}

#left-panel{
    background: rgba(36, 34, 34, 0.8);
    min-height: 95vh;
    border-right: 2px solid grey;
}

#mid-panel{
    background: rgba(36, 34, 34, 0.8);
    min-height: 95vh;
}